.header {
  width: 100%;
  font-size: 2.1rem;
  height: 5.2rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #eee;
  position: relative;
  border-bottom: 5px black solid;
  background-color: #222;

  &__logo {
    text-align: center;
    border-bottom: none;
    text-transform: uppercase;
    background-color: $purple--1;
    height: 100%;
    font-size: 1.8rem;
    min-width: 15vw;
    font-weight: bold;
    cursor: pointer;
    color: #eee;
   
  }
}

.header__nav {
  width: 100%;
  height: 100%;
}

.main-nav__links > li {
  position: relative;
  display: flex;
  width: 100%;
  border-right: 5px #444 solid;
  height: 100%;
  align-items: center;
  justify-content: center;
  letter-spacing: 0.9px;
}

.main-nav__links li:first-of-type {
  border-left: 5px #444 solid;
}

.main-nav__links {
  display: flex;
  height: 100%;
  align-items: center;
  justify-content: space-around;
  width: 100%;
  font-weight: 500;
}

.main-nav__link {
  position: relative;
  width: fit-content;
  text-align: center;
  padding: 0 3rem;
  width: 100%;
}

.main-nav__links > li::after,
li::before {
  content: "";
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 2px;
  background-color: rgb(74, 196, 74);
  transition: transform 0.35s ease-out;
  left: 0;
}

.main-nav__links > li::after {
  top: -1px;
  transform-origin: top left;
}

.main-nav__links > li::before {
  bottom: -1px;
  transform-origin: bottom right;
}

.main-nav__links > li:hover {
  font-size: 2.32rem;
  border-left: 2px rgb(74, 196, 74) solid;
  border-right: 2px rgb(74, 196, 74) solid; 
}

.main-nav__links > li:not(:first-child):hover {
  margin-left: -4px;
}

.main-nav__links > li:hover::after {
  transform: scaleX(1);
  transform-origin: top left;
}

.main-nav__links > li:hover::before {
  transform: scaleX(1);
  transform-origin: bottom right;
}

.sticky {
  position: sticky;
  top: 0;
  z-index: 100;
}

/* MOBILE */

.mobile-nav {
  display: none;
  color: black;
  width: 100vw;

  &__links {
    display: flex;
    z-index: 999999999;
    top: 6.5rem;
    right: 0;
    background-color: #222;
    position: absolute;
    height: 20rem;
    padding: 0;
    margin: 0;
    font-size: 2.4rem;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    color: #eee;
    width: 50%;
  }
}

.hamburger {
  position: absolute;
  z-index: 9999;
  top: 0.5rem;
  bottom: 0.5rem;
  right: 3rem;
  display: none;
  cursor: pointer;

  &__bar1,
  &__bar2,
  &__bar3 {
    width: 35px;
    height: 5px;
    background-color: white;
    font-weight: bold;
    margin: 6px 0;
    transition: 0.4s;
  }
}

.hamburger__change-icon .hamburger__bar1 {
  transform: translate(0, 11px) rotate(-45deg);
}

.hamburger__change-icon .hamburger__bar2 {
  opacity: 0;
}

.hamburger__change-icon .hamburger__bar3 {
  transform: translate(0, -11px) rotate(45deg);
}

@media only screen and (max-width: 30rem) {
  .header {
    height: 6.5rem;

    &__nav {
      display: none;
    }

    &__logo {
      width: 60%;
    }
  }

  .mobile-nav {
    display: block;
  }

  .hamburger {
    display: inline;
  }
}
